<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">
    <sql id="sql">
        select * from user1
    </sql>
    <select id="login" parameterType="user" resultType="User">
        <include refid="sql"/> where name=#{loginName} and password=#{password}
    </select>

    <select id="getUserList"  resultType="User">
        <include refid="sql"/>
    </select>

    <select id="userCount" resultType="integer">
        select count(*) from user1
    </select>

    <select id="getUserList2"  parameterType="hashmap">
        <include refid="sql"/> limit #{pagestart},#{size}
    </select>


</mapper>